@import "reset.less";

a
{
	color: #0000EE;
}

#app
{
/* 	background: lightcoral; */
	font-family: 'Raleway', sans-serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	.header
	{
		background: rgb(10, 25, 47);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
		min-height: 90px;
		border-bottom: 2px solid #000;

		.logo
		{
			a
			{
				color: #fff;
				font-weight: bold;
			}
		}
	}

	.container
	{
		display: flex;
		flex: 1;

		.content
		{
			width: 100%;
			padding: 5px;
			
			.model
			{
				ul
				{
					padding-left: 20px;
					li
					{
						list-style-type: circle;
					}
				}

				.photos
				{
					.photo
					{
						width: 60%;
						margin: auto;

						.photo-preview
						{
							
						}
					}
				}
			}
		}
	}
	.manufacturers
	{
		/* padding: 10px;
		margin-right: 10px;
		border-radius: 10px; */
		border-right: 2px solid #000;
		padding: 5px;
	}

	footer
	{
		p
		{
			text-align: center;
		}
	}
}

@media screen and (max-width: 560px)
{
	.container
	{
		flex-direction: column;
	}
	.manufacturers
	{
		border-left: 2px solid #000;;
		border-bottom: 2px solid #000;
		text-align: center;
	}
}